In [1]:
from sklearn.svm import SVC
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, roc_auc_score

In [2]:
data=pd.read_csv('D:\Praktikum\datminC_week1.csv')
data.head()

,total_transcations,total_distance,online_duration_in_seconds,orders_received,orders_accepted,earnings,orders_cancelled,label
0,2,34.05,20717,62,5,135700,1,0
1,2,39.62,41693,45,2,146050,0,0
2,2,30.94,20216,29,2,125350,0,0
3,2,17.71,24275,45,12,63250,7,0
4,2,33.73,27638,35,8,170200,1,0

In [3]:
x=data.iloc[:, data.columns != 'label']
y=data.iloc[:, data.columns == 'label']
x.head()
y.head()

   label
0      0
1      0
2      0
3      0
4      0

In [4]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25, random_state=0)

Linear

In [5]:
#linear
svclassifier_1 = SVC(kernel = 'linear')
svclassifier_1.fit(x_train, y_train.values.ravel()) 
y_pred_1 = svclassifier_1.predict(x_test)

In [6]:
print(confusion_matrix(y_test, y_pred_1))

[[10  0]
 [ 0  3]]

Polinomial

In [7]:
#polinom
svclassifier_2 = SVC(kernel = 'poly')
svclassifier_2.fit(x_train, y_train.values.ravel()) 
y_pred_2 = svclassifier_2.predict(x_test)

In [8]:
print(confusion_matrix(y_test, y_pred_2))

[[10  0]
 [ 3  0]]

RBF

In [9]:
#RBF
svclassifier_3 = SVC(kernel = 'rbf')
svclassifier_3.fit(x_train, y_train.values.ravel()) 
y_pred_3 = svclassifier_3.predict(x_test)

In [10]:
print(confusion_matrix(y_test, y_pred_3))

[[10  0]
 [ 3  0]]

Sigmanoid

In [11]:
#Sigmanoid
svclassifier_4 = SVC(kernel = 'sigmoid')
svclassifier_4.fit(x_train, y_train.values.ravel()) 
y_pred_4 = svclassifier_3.predict(x_test)

In [12]:
print(confusion_matrix(y_test, y_pred_4))

[[10  0]
 [ 3  0]]

In [13]:
acc_SVM_1=round(accuracy_score(y_test,y_pred_1)*100,2)
acc_SVM_2=round(accuracy_score(y_test,y_pred_2)*100,2)
acc_SVM_3=round(accuracy_score(y_test,y_pred_3)*100,2)
acc_SVM_4=round(accuracy_score(y_test,y_pred_4)*100,2)

In [17]:
f1_SVM_1=round(f1_score(y_test,y_pred_1, average='micro')*100,2)
f1_SVM_2=round(f1_score(y_test,y_pred_2, average='micro')*100,2)
f1_SVM_3=round(f1_score(y_test,y_pred_3, average='micro')*100,2)
f1_SVM_4=round(f1_score(y_test,y_pred_4, average='micro')*100,2)

In [20]:
models= pd.DataFrame({
    'Model SVM':['Linear', 'Poly', 'RBF', 'Sigmanoid'],
    'Score acc':[acc_SVM_1, acc_SVM_2, acc_SVM_3, acc_SVM_4],
    'Score f1':[f1_SVM_1, f1_SVM_2, f1_SVM_3, f1_SVM_4]})
models.sort_values(by='Score acc',ascending=False)

   Model SVM  Score acc  Score f1
0     Linear     100.00    100.00
1       Poly      76.92     76.92
2        RBF      76.92     76.92
3  Sigmanoid      76.92     76.92